@{
    ViewBag.Title = "Volunteer";
}



<h2>Volunteer</h2>
@using (@Html.BeginForm())
{
    <div class="TitleVolunteer">
        <h3>Requests:</h3>
    </div>
    <div class="Requests">
        <textarea rows="10" cols="50" name="Requests" placeholder="geen requests beschikbaar"></textarea>

    </div>
    <div class="VolunteerButtons">
        <input type="submit" name="interestedBTN" value="interested" onclick="location.href='@Url.Action("Requests", "Volunteer")'">
        <input type="submit" name="Report" value="Report" onclick="location.href='@Url.Action("Requests", "Volunteer")' " />
    </div>



}