body {
    font-family: 'open sans', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    /*background-image: url("http://s32.postimg.org/b5wu13lrp/jp_Lr1yq.jpg");*/
    /*background-image: url("http://randomwallpapers.net/lamborghini-aventador-rims-cars-1920x1080-wallpaper414577.jpg");*/
    background-image: url("https://zenforlife.files.wordpress.com/2012/06/zen-for-life.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* make scrollbar invisible */
}

/*Raphael CSS for Admin*/
.boxed {
    border: 1px solid green;
    width: 600px;
    height: 600px;
    float: right;
    overflow: scroll;
}

.Profilediv1 {
    float: left;
    width: 39%;
    height: 60vh;
}

.Profilediv2 {
    border: 1px solid black;
    float: right;
    width: 60%;
    height: 60vh;
    overflow: scroll;
}

.Profilediv3 {
    clear: both;
    height: 37vh;
}

.Profilediv4 {
    border: 1px solid black;
    width: 60vw;
    height: 30vh;
    overflow-x: scroll;
}


.buttons {
    padding-bottom: 23px;
    float: left;
}

#contentBox {
    width: 1000px;
    height: 100px;
}

.body-content {
    color: red;
}

.menubar {
    width: 100vw;
    margin-top: -8px;
    /*margin-left: -8px;*/
    height: 50px;
    background-color: black;
}

.error {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* make scrollbar invisible */
}


.menu {
    width: 60%;
    margin: auto;
    padding-top: 15px;
}

.wrapper {
    width: 60%;
    margin: 10px auto;
    background-color: transparent;
    padding: 0px;
}

.tab {
    margin-left: +5px;
    color: gray;
    text-decoration: none;
}

    .tab:hover {
        color: white;
    }

    .tab:active {
        color: purple;
    }

.homevid {
    width: 100%;
    height: 500px;
    margin-top: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chatpage
{
    width: 100%;
    height: auto;
}

.chatlist
{
    background-color: lightblue;
    height: 400px;
    width: 25%;
    float: left;
}

.chatlist input
{
    width: 20px;
}

.chatbox
{
    
    height: 400px;
    width: 75%;
    background-color: lightcoral;
    float: left;
}

.chat
{
    height: 90%;
    overflow: scroll;
}

.textbox
{    
    max-width: 1000px;
    width: 100%;
    float: left;
    height: 90%;
    border: 0;
    border-top: 1px solid;
}

.submitbtn
{
    border: 0;
    color: red;
    width: 100%;
    height: 40px;  
    float: right;  
}

.reply
{    
    background-color: black;
    height: 10%;
    width: 100%;
}

.r2
{
    width: 20%;
    float: right;
    height: 100%;
}

.r1
{
    float: left;
    width: 80%;
    height: 100%;
}
