
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welkom bij EyeCT4Participation!</h1>
    <p>EyeCT4Participation is een applicatie in opdracht van de Gemeente Eindhoven. Nederland ontwikkelt zich van een zorgstaat naar een participatiemaatschappij. 
    In dat kader wil de Gemeente Eindhoven graag helpen in het faciliteren van dit participeren en richten zich daarin op de groep ouderen die Eindhoven rijk is.
    Daarom hebben wij van EyeCT4Participation een software systeem gerealiseerd waarin een gedetailleerde match gelegd kan worden tussen oudere hulpbehoevenden en vrijwilligers.
    U kunt een account aanmaken als hulpbehoevende of vrijwilliger. Als hulpbehoevende kunt U hulpvragen uitzetten. Als vrijwilliger is het mogelijk om te reageren op deze hulpvragen om zo daadwerkelijk met de hulpbehoevende op pad te gaan.</p>
    <p><a class="btn btn-primary btn-lg" onclick="window.location.href='@Url.Action("Index", "Login")'" role="button">Log direct in!</a></p>
</div>