@using tester.Models;


@{
    ViewBag.Title = "Admin";
 
}

<h2>Admin</h2>

@using (@Html.BeginForm())
{
    <div>
        <div class="boxed">
           
            
            
            This text is enclosed in a box.
            When the admin presses a button the corresponding content will be showed here.
            The items can then be selected to either erase them or ignore them.
            @foreach (string item in Database.reviewsListAdmin)
            {
                <div>
                    @item
                    <hr />
                </div>
            }
         
        </div>

        <div id="buttons">
            <input type="button" name="reviewsBTN" value="reviews"><br>
            <input type="button" name="requestsBTN" value="requests"><br>
            <input type="button" name="commentsBTN" value="comments"><br>
            <input type="button" name="reportedReviewsBTN" value="Reported Reviews"><br>
            <input type="button" name="reportedRequestsBTN" value="Reported Reviews"><br>
            <input type="button" name="reportedCommentsBTN" value="Reported Comments"><br><br>
            <input type="button" name="reportBTN" value="Report selected"><br><br>
            <input type="button" name="ignoreBTN" value="Ignore selected"><br><br>
            <input type="button" name="logOutBTN" value="Logout"><br>
            @if ()
            {

            }
        </div>
    </div>
}
