
@{
    ViewBag.Title = "Volunteer";
}

<h2>Volunteer</h2>
@using (@Html.BeginForm())
{
    <div class="TitleVolunteer">
        <h3>Requests:</h3>
    </div>
    <div class="Requests">
        <textarea rows="10" cols="50" name="Requests" placeholder="geen requests beschickbaar"></textarea>

    </div>
    <div class="VolunteerButtons">
        <input type="button" name="interestedBTN" value="interested">
        <input type="submit" name="Report" value="Report" />
    </div>



}
