@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

@using (@Html.BeginForm())
{
<div> 
    <div class="Profilediv1">
        Naam: <br>
        Email: <br>
        Woonplaats: <br>
        Telefoonnummer: <br>
        Adres: <br>
    </div>
    <div class="Profilediv2">
        My reviews:
    </div>
    <div class="Profilediv3">
        About me:
        <div class="Profilediv4">

        </div>
    </div>
</div>

}